html{
    font-family: sans-serif;
}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-list{
    display: flex;
    list-style-type: none;
}

.nav-links{
    margin: 0 8px ;
    text-decoration: none;
    color: black;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 12px;

}

.nav-links:hover {
    text-decoration: underline;

}

.cta-link{
    background-color: yellow;
    border-radius: 14px;
}

.tab-nav{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0%;
}

.tab-item{
flex-grow: 1;
}

.tab-links{
    background-color: black;
    color: azure;
    display: block;
    text-align: center;
    margin: 0 4px;
    padding: 15px 30px;
    text-decoration: none;
}

.tab-links:hover{
    text-decoration: underline;
}

